/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.card{
    width: 300px;
    height: 400px;
    padding: 10px;
    border-radius: 5px;
}

.card:hover{
    width: 305px;
    height: 405px;
    box-shadow: 0 4px 8px 0 var(--ion-color-primary), 0 6px 20px 0var(--ion-color-primary);
    background-image: linear-gradient(to bottom right, var(--ion-color-secondary), var(--ion-color-primary), var(--ion-color-tertiary));
    box-shadow: 0 4px 8px 0 var(--ion-color-secondary), 0 6px 20px 0 var(--ion-color-secondary);
}
.nav-bar{
    padding-right: 10px;
}
.nav-bar:hover{
    padding-right: 10px;
    color: var(--ion-color-secondary);
}


@media only screen and (min-width: 320px) {
    .card{
        width: 90%;
        margin: auto;
        padding-top: 10px;
    }
    .card:hover{
        width: 90%;
        height: 405px;
        box-shadow: 0 4px 8px 0 var(--ion-color-primary), 0 6px 20px 0var(--ion-color-primary);
        background-image: linear-gradient(to bottom right, var(--ion-color-secondary), var(--ion-color-primary), var(--ion-color-tertiary));
        box-shadow: 0 4px 8px 0 var(--ion-color-secondary), 0 6px 20px 0 var(--ion-color-secondary);
    }
    .nav-bar{
        visibility: hidden;
    }
}

@media only screen and (min-width:500px) and (max-width:2468px) {
    .nav-bar{
        visibility: visible;
    }
    ion-icon{
        font-size: 25px;
    }
}